<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MovieGallery.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F395E05D1EC0F03E00FF4D46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F395E0711EC0F03F00FF4D46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F395E07C1EC0F03F00FF4D46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
